body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    width: 100%;
}

ul {
    margin: 0;
    margin-block: 0;
    padding: 0;
}

li {
    list-style: none;
}
button{
    padding: 10px 25px;
    border-radius: 5px;
    border-color: aquamarine;
    background-color: honeydew;
    cursor: pointer;
}
.choice{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}
.choice div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.choiceBoxSize{
    display: none;
    margin: 0 auto;
    text-align: center;
}
.changeBoxSizeBtn{
    display: none;
}
.workPlace {
    display: none;

    flex-direction: row;
    justify-content: center;
    /*margin: 0 auto;*/
    max-width: 100%;
    gap: 30px;
}

.workPlace > div {
    border: 1px solid #000;
}

#dropBox {
    width: 700px;
    height: 500px;
    background: url("img/kraft-bej.jpg");

}

#itemBox {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 10px;
}

#itemBox img {
    max-width: 70px;
    max-height: 70px;
}

#itemBox ul {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

.addBtn {
    display: none;
}

.bot {
    display: none;
    margin: 0 auto;
    max-width: 90%;
}

.boxSize {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.boxSize li {
    padding: 20px 10px;
    background: #555555;
    color: #FFFFFF;
    border-radius: 4px;
}

.boxInner {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.boxInner img {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 1024px) {
    .workPlace {
        flex-direction: column-reverse;
        /*justify-content: flex-end;*/
        align-items: center;
    }
    #itemBox ul {
        flex-direction: row;
        padding: 5px 0;
    }
    .choice div{
        display: flex;
        flex-direction: column;
    }
}
